# Liste des fichiers qui seront générés par cmake
CMakeFiles
sumotest
qmltypes
meta_types
Makefile
*.cmake
CMakeCache.txt

# Les images de voitures générées
images/generated/*.svg
# Ignorer les fichiers cachés
.*

# Font Awesome inutile
fontawesome-free-6.4.2-desktop/svgs
fontawesome-free-6.4.2-desktop/metadata
fontawesome-free-6.4.2-desktop/*.txt